<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header_admin :: head_admin">

</head>


<body>

	<!-- ======= Header ======= -->
	<header th:replace="header_admin :: header_admin" id="header"
		class="header fixed-top d-flex align-items-center"> </header>
	<!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside th:replace="header_admin :: aside_admin" id="sidebar"
		class="sidebar"></aside>
	<!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1> Danh sách đơn hàng </h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/admin}">Trang chủ</a></li>
					<li class="breadcrumb-item active"> Danh sách đơn hàng   </li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section dashboard">
			<div class="row">

				<!-- Left side columns -->


				<!-- Recent Sales -->
				<div class="col-12">
					<div class="card recent-sales overflow-auto">

						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i
								class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
									<h6>Filter</h6>
								</li>

								<li><a class="dropdown-item" href="#">Today</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>

						<div class="card-body">
							<h5 class="card-title">
								Danh sách<span>| all</span>
							</h5>

							<ul class="nav nav-pills mx-auto">
								<li class="nav-item"><a
									class="nav-link active btn btn-info"
									th:href="@{/DonHangAdmin} ">Tất cả
										<p th:text="${diemDH }"></p>
								</a></li>
								<li class="nav-item"><a
									class="nav-link active btn btn-info"
									th:href="@{/danhmucDHAdmin/} + 1"> Chờ xác nhận
										<p th:text="${diemDH1 }"></p>
								</a></li>
								<li class="nav-item"><a
									class="nav-link active btn btn-info"
									th:href="@{/danhmucDHAdmin/} + 2">Đã xác nhận
										<p th:text="${diemDH2 }"></p>
								</a></li>
								<li class="nav-item"><a
									class="nav-link active btn btn-info"
									th:href="@{/danhmucDHAdmin/} + 3">Đang giao
										<p th:text="${diemDH3 }"></p>
								</a></li>
								<li class="nav-item"><a
									class="nav-link active btn btn-info"
									th:href="@{/danhmucDHAdmin/} + 4">Đã giao-Hoàn thành
										<p th:text="${diemDH4 }"></p>
								</a></li>
								<li class="nav-item"><a
									class="nav-link active btn btn-info"
									th:href="@{/danhmucDHAdmin/} + 99"> Hủy đơn
										<p th:text="${diemDH99 }"></p>
								</a></li>
							</ul>


							<hr>
							<form th:action="@{/tim-dh}" method="post" >
									<input style="height:50px;" type="text" name="tim" placeholder="Nhập id hoặc tên kh" required >
									<input style="height:50px;" class="btn btn-primary" type="submit" value="Tìm">
							</form>
							<center>
							
								<h2>
									<button type="button" class="btn btn-success">Danh
										sách đơn hàng</button>
								</h2>
							</center>





							<th:block th:each="donhangkh : ${donhangkh}">

								<table class="table" style="background-color: #E6E6E6;">
									<thead class="thead-light">
										<tr>
											<th>ID khách hàng</th>
											<th>Tên người nhận</th>
											<th>SĐT người nhận</th>
											<th>Email người nhận</th>
											<th>Ghi chú khách hàng</th>
											<th>Địa chỉ người nhận</th>

										</tr>
									</thead>
									
						<th:block  th:each="kh : ${kh}">
								
								
									<tr  th:if="${donhangkh.khachhangid } == ${ kh.khachhangid }"   >
									
										<td th:text="${donhangkh.khachhangid }"></td>
										
										<td th:text="${ kh.khachhangten }"></td>
										<td th:text="${kh.khachhangsdt }"></td>
										
										
									<th:block  th:each="user : ${user}">
										<td th:if="${kh.taikhoan } == ${ user.id }" >
											<h5 th:text="${user.email}"> </h5>
										
										</td>
									</th:block>
										
										
										<td th:text="${donhangkh.nguoinhanghichu }"></td>
										
									<th:block  th:each="kvgh : ${kvgh}">
										<td  th:if="${kh.khuvucghid } == ${ kvgh.id }" >
											<h5 th:text="${kh.khachhangdiachi }" > </h5>
											<h5 th:text="${ kvgh.name }" > </h5>
										</td>
										
									</th:block>
										
									</tr>
									
								
						</th:block>
									
									
								</table>
								<div class="container">
									<div class="row">
										<div class="col-6" th:if=" ${donhangkh.trangthaidonhangid } < 4  ">
											<form th:action="@{/cap-nhat-shipper}" method="post"
												 class="was-validated" th:object="${newdh}">
												<input type="hidden" class="form-control"
													th:name="donhangid" th:value="${donhangkh.donhangid}" />
												<div class="form-group">
													<label for="exampleInputEmail1">Tên shipper</label> <input
														type="text" class="form-control" th:name="shipten"
														th:value="${donhangkh.shipten}" required>
												</div>
												<div class="form-group">
													<label for="exampleInputEmail1">SĐT shipper</label> <input
														type="number" min="100000000" class="form-control"
														th:name="shipsdt" th:value="${donhangkh.shipsdt}" required>
												</div>

												<br>
												<div class="form-group">
													<button type="submit" class="btn btn-primary">Cập
														nhật shipper</button>

												</div>
											</form>
										</div>

										<div class="col-6"
											th:if=" ${donhangkh.trangthaidonhangid } ==99 or  ${donhangkh.trangthaidonhangid } ==4 ">
											<form th:action="@{/cap-nhat-shipper}" method="post"
												class="was-validated" th:object="${newdh}">
												<input type="hidden" class="form-control"
													th:name="donhangid" th:value="${donhangkh.donhangid}" />
												<div class="form-group">
													<label for="exampleInputEmail1">Tên shipper</label> <input
														type="text" class="form-control" th:name="shipten"
														th:value="${donhangkh.shipten}" Readonly>
												</div>
												<div class="form-group">
													<label for="exampleInputEmail1">SĐT shipper</label> <input
														type="number" class="form-control" th:name="shipsdt"
														th:value="${donhangkh.shipsdt}" Readonly>
												</div>
											</form>
										</div>
										<div class="col-2">
										</div>
										<div class="col-4">
											<a th:href="@{/cnttDonHang/}+${donhangkh.donhangid}"><button type="button" class="btn btn-warning">Lịch sử đơn hàng</button></a>
										</div>
									</div>
								</div>


								<table class="table"
									style="border-radius: 25px; background-color: #A9D0F5;">
									<thead class="thead-light">
										<tr>
											<th>Id Đơn hàng</th>
											<th>Trạng thái hiện tại</th>
											<th>Thời gian đặt</th>
											<th>Thời gian giao</th>
											<th>Phương thức thanh toán</th>
											<th>Phí vận chuyển</th>
											<th>Giảm giá</th>
											<th>Tổng còn</th>
											<th>Xử lý đơn</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:text="${donhangkh.donhangid }"></td>
											<td>
												<div th:if=" ${donhangkh.trangthaidonhangid }== 1 ">
													<h5 class="btn btn-primary">Chờ xác nhận</h5>
												</div>
												<div th:if=" ${donhangkh.trangthaidonhangid }== 2 ">
													<h5 class="btn btn-warning">Đã xác nhận</h5>
												</div>
												<div th:if=" ${donhangkh.trangthaidonhangid }== 3 ">
													<h5 class="btn btn-success">Đang giao</h5>
												</div>
												<div th:if=" ${donhangkh.trangthaidonhangid }== 4 ">
													<h5 class="btn btn-danger">Đã giao-hoàn thành</h5>
												</div>

												<div th:if=" ${donhangkh.trangthaidonhangid }== 99 ">
													<h5 class="btn btn-danger" disabled>Hủy đơn</h5>
												</div>


											</td>



											<td>
												<h5 th:text="${donhangkh.ngaytao }"></h5>
												<h5 th:text="${donhangkh.thoigiantao }"></h5>
											</td>

											<td th:text="${donhangkh.thoigiangiao }"></td>

											<td>
												<div th:if=" ${donhangkh.phuongthucthanhtoan }== 1 ">
													<h5>Thanh toán khi nhận hàng</h5>
												</div>

												<div th:if=" ${donhangkh.phuongthucthanhtoan }== 100 ">
													<h5>Thanh toán online</h5>
												</div>

											</td>




											<td
												th:text="${#numbers.formatDecimal( donhangkh.phivanchuyen , 0, 'POINT', 0, 'POINT')}">
											</td>
											<td
												th:text="${#numbers.formatDecimal( donhangkh.giamgia , 0, 'POINT', 0, 'POINT')}">
											</td>
											<td
												th:text="${#numbers.formatDecimal( donhangkh.tongtien , 0, 'POINT', 0, 'POINT')}">
											</td>
											<td>
												<div th:if=" ${donhangkh.trangthaidonhangid }== 1 ">

													<form class="was-validated"
														th:action="@{/cap-nhat-don-hang}" method="POST"
														th:object="${newdh}">

														<input type="hidden" class="form-control"
															th:name="donhangid" th:value="${donhangkh.donhangid}" />
														<input type="hidden" class="form-control"
															th:name="trangthaidonhangid" th:value="2" /> <input
															class="btn btn-danger" type="submit"
															value="Xác nhận đơn hàng "onclick="return confirm(' Xác nhận cập nhật đơn hàng ???')" />

													</form>

												</div>

												<div th:if=" ${donhangkh.trangthaidonhangid }== 2 ">

													<form class="was-validated"
														th:action="@{/cap-nhat-don-hang}" method="POST"
														th:object="${newdh}">

														<input type="hidden" class="form-control"
															th:name="donhangid" th:value="${donhangkh.donhangid}" />
														<input type="hidden" class="form-control"
															th:name="trangthaidonhangid" th:value="3" /> <input
															class="btn btn-danger" type="submit"
															value="Đang giao hàng "onclick="return confirm(' Xác nhận cập nhật đơn hàng ???')" />

													</form>

												</div>


												<div th:if=" ${donhangkh.trangthaidonhangid }== 3 ">

													<form class="was-validated"
														th:action="@{/cap-nhat-don-hang}" method="POST"
														th:object="${newdh}">

														<input type="hidden" class="form-control"
															th:name="donhangid" th:value="${donhangkh.donhangid}" />
														<input type="hidden" class="form-control"
															th:name="trangthaidonhangid" th:value="4" /> <input
															class="btn btn-danger" type="submit"
															value="Đã giao-hoàn thành"onclick="return confirm(' Xác nhận cập nhật đơn hàng ???')" />

													</form>

												</div>








											</td>
										</tr>

										 <tr>

									</tbody>
								</table>

								<center>
									<table class="table"
										style="background-color: #CEECF5; width: 90%">
										<thead class="thead-light">
											<tr>
												<th>Ảnh</th>
												<th>Tên sản phẩm</th>
												<th>Giá tiền</th>
												<th>Số lượng</th>

											</tr>
										</thead>
										<th:block th:each="ctdh : ${ctdh}">


											<div th:if="${donhangkh.donhangid } == ${ ctdh.donhangid }">
												<tbody>
													<tr>
														<td><th:block th:each="sanpham : ${sanpham}">

																<div th:if="${sanpham.sanphamid } == ${ ctdh.ctdhidsp }">

																	<img style="height: 70px; width: 70px;"
																		th:src="${sanpham.sanphamanhchinh}"
																		class="img-responsive" alt="ảnh sản phẩm">

																</div>


														</th:block></td>
														<td th:text="${ ctdh.ctdhtensp }"></td>
														<td th:text="${ ctdh.ctdhgiasp }"></td>
														<td th:text="${ ctdh.ctdhsoluongsp }"></td>
													</tr>

												</tbody>
											</div>
										</th:block>
									</table>
								</center>

								<hr style="height: 5px; color: red; border: 1;">
								<hr style="height: 5px; color: red; border: 1;">
							</th:block>




						</div>

					</div>
				</div>
				<!-- End Recent Sales -->



			</div>
			<!-- End Left side columns -->

			<!-- Right side columns -->

		</section>
		
		</tbody>
		
		</table>
		
		</th:block>
		
		</div>
		</div>
		</div>
		</div>
		</section>
		

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer th:replace="header_admin :: footer_admin" id="footer"
		class="footer"> </footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<div th:replace="header_admin :: script_admin"></div>

</body>

</html>