<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
<head th:replace="header_admin :: head_admin">

</head>


<body>

	<!-- ======= Header ======= -->
	<header th:replace="header_admin :: header_admin" id="header"
		class="header fixed-top d-flex align-items-center"> </header>
	<!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside th:replace="header_admin :: aside_admin" id="sidebar"
		class="sidebar"></aside>
	<!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Thêm mã giảm giá</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
					<li class="breadcrumb-item active">Quản lý mã giảm giá</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section dashboard">
			<div class="row">
				<!-- 
        Left side columns
        

            Recent Sales -->
				<div class="col-12">
					<div class="card recent-sales overflow-auto">
						<!--  bat dau form  -->
						
			<div class="alert alert-danger" th:if=${param.daco}>
					Code này đã có
			</div> 
				<div class="alert alert-info" th:if=${param.thanhcong}>
					Thêm thành công
				</div> 
						<div class="card-body">
						<form class="col-8" th:action="@{/themMagg}" method="POST"
							th:object="${magg}">
							<div class="form-group ">
								<h5>Code:</h5>    
								<input class="form-control" placeholder="Không khoảng trắng - không dấu" type="text" required pattern="[a-z,0-9]{1,15}"
									th:field="*{magiamgiacode}">
							</div>
							<br>
							<div class="form-group">
								<h5>Phần trăm giảm:</h5>  
								<input class="form-control" id="" placeholder="1%  - 100%" type="number" min="1" max="100" pattern="[0-9]{1,2}"
									th:field="*{magiamgiaphantram}"  required>
							</div>
							<br>
							<div class="form-group">
								<h5>Tiền giảm tối đa:</h5>
								<input class="form-control" id=""  type="number" min="1000" required pattern="[0-9]{1,12}"
									placeholder="Nhập thời gian giao" th:field="*{magiamgiatoida}">
							</div>
							<br>
							<div class="form-group">
								<h5>Số lượng mã:</h5>
								<input class="form-control" id="" type="number" min="1" 
									placeholder="Nhập thời gian giao" th:field="*{magiamgiasoluong}" required  pattern="[0-9]{1,12}"  >
							</div>
							<br>
							<div class="form-group">
								<h5>Ngày hết hạn(Tối thiểu là hôm nay)):</h5>
								<input class="form-control" id="" type="date" data-date-format="YYYY-MM-DD" th:min="${localDate}"
									placeholder="ví dụ: 2022-07-30" th:field="*{ngayhethan}" required>
							</div>
							<br>
							
							 <button type="submit"
									class="btn btn-primary">Thêm</button>
						</form>
						<br> <br>
						<!--  ket thuc  form 
			
			bat dau table -->
			<div class="alert alert-info" th:if=${param.dasua}>
					Đã sửa thành công
			</div> 
						 <table class="table table-borderless datatable">
							<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Code</th>
									<th scope="col">Phần trăm giảm</th>
									<th scope="col">Tiền giảm tối đa</th>
									<th scope="col">Số lượng mã</th>
									<th scope="col">Ngày hết hạn</th>
									
								</tr>
							</thead>
							<tbody>
								<th:block th:each="mgg : ${magiamgia}">
									<tr>
										<td><p th:text="${mgg.id}"></p></td>
										<td><p th:text="${mgg.magiamgiacode}"></p></td>
										<td>
											 <em>  <strong th:text="${mgg.magiamgiaphantram}"><span></span></strong>  %</em>
										</td>
										<td>
											<em>  <strong th:text="${mgg.magiamgiatoida}"><span></span></strong>  vnd</em>
										</td>
										<td><p th:text="${mgg.magiamgiasoluong}"></p></td>
										<td><p th:text="${mgg.ngayhethan}"></p></td>
										
										<td>
											<form th:action="@{/suaMagg}" method="Get">
											
												<input type="hidden" name="id" th:value="${mgg.id}"  >
												<button class="btn btn-primary" type="submit"> Sửa</button>
											
											</form>
											
										</td>
										<td>
											<form th:action="@{/xoaMagg}" method="Post">
											
												<input type="hidden" name="id" th:value="${mgg.id}"  >
												<button class="btn btn-danger" type="submit"> Xóa</button>
											
											</form>
											
										</td>
									</tr>
								</th:block>
							</tbody>
						</table> 
						<!-- end table -->
					</div>
					</div>
				</div>
			</div>
			<!-- End Recent Sales
 -->

			<!--  Right side columns -->

		</section>

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer th:replace="header_admin :: footer_admin" id="footer"
		class="footer"> </footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<div th:replace="header_admin :: script_admin"></div>

</body>

</html>