<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<!-- Head BEGIN -->
<head th:replace="header :: head">

</head>
<!-- Head END -->

<!-- Body BEGIN -->

<body class="ecommerce">

	<!-- BEGIN TOP BAR -->
	<div th:replace="header :: div.pre-header"></div>
	<!-- END TOP BAR -->

	<!-- BEGIN HEADER -->
	<div class="header" th:replace="header :: div.header"></div>
	<!-- end -->

	<div class="main">
		<div class="container ">
			<div class="col-md-6">
			<div class="alert alert-info" th:if=${param.DaCoTK}>
				<div class="alert alert-danger" role="alert">Tài khoản này đã
					tồn tại</div>
			</div>
			<div class="alert alert-info" th:if=${param.DaCoEmail}>
				<div class="alert alert-danger" role="alert">Email đã được sử dụng</div>
			</div>
			<div class="alert alert-info" th:if=${param.TKMKTrong}>
				<div class="alert alert-danger" role="alert">Không được để
					trống</div>
			</div>
			</div>
			<h1 class="alert alert-info">Đăng ký khách hàng</h1>
			<div class="col-sm-6">
				<form th:action="@{/dang-ky-khach-hang}" method="post"
					th:object="${user}">

					<div class="form-group">

						<label for="exampleInputEmail1">Tên tài khoản</label> <input
							type="text" class="form-control" id="username"
							th:field="*{username}" placeholder="Nhập tên tài khoản" required>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Mật khẩu</label> <input
							type="password" class="form-control" id="password"
							name="password" th:field="*{password}"
							placeholder="Nhập mật khẩu" required autofocus>

					</div>

					<div class="form-group">
						<label for="exampleInputEmail1">Nhập lại mật khẩu</label> 
						<input
							type="password" class="form-control"
							placeholder="Nhập lại mật khẩu" required
							oninput="checkPasswordMatch(this);" />


					</div>



					<div class="form-group">
						<label for="exampleInputEmail1">Email</label> <input type="email"
							class="form-control" id="email" th:field="*{email}"
							placeholder="Email sẽ được dùng để cấp lại mật khẩu !" required>
					</div>

					<input type="hidden" class="form-control" id="quyen" name="quyen"
						value="234u84ur247g23">

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Đăng ký</button>
						<span>Đã có tài khoản? <a href="/"
							th:href="@{/dang-nhap-khach-hang}">Đăng nhập</a></span>
					</div>
				</form>
			</div>

		</div>
	</div>
	<script>
	function checkPasswordMatch(fieldConfirmPassword) {
	    if (fieldConfirmPassword.value != $("#password").val()) {
	        fieldConfirmPassword.setCustomValidity("Mật khẩu nhập lại không chính xác!");
	    } else {
	        fieldConfirmPassword.setCustomValidity("");
	    }
	}
	
	</script>


	<!-- BEGIN PRE-FOOTER -->
	<div th:replace="header :: pre-footer"></div>
	<!-- END PRE-FOOTER -->

	<!-- BEGIN FOOTER -->

	<!-- END FOOTER -->

	<!-- BEGIN fast view of a product -->

	<!-- END fast view of a product -->

	<div th:replace="header :: script_kh"></div>
</body>
<!-- END BODY -->
</html>