<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<!-- Head BEGIN -->
<head th:replace="header :: head">

</head>
<!-- Head END -->

<!-- Body BEGIN -->

<body class="">

	<!-- BEGIN TOP BAR -->
	<div th:replace="header :: div.pre-header"></div>
	<!-- END TOP BAR -->

	<!-- BEGIN HEADER -->
	  <!-- BEGIN HEADER -->
    <div class="header" >
      <div class="container">
        <a class="site-logo" th:href="@{/}"><img th:src="@{/assets/corporate/img/logos/logo-shop-red.png}" alt="Metronic Shop UI"></a>

       
		
		
        <!-- BEGIN CART -->
        <div class="top-cart-block">
         
          <div class="top-cart-content-wrapper">
            <div class="top-cart-content">
			
              </div> 
            </li>
            <!-- END TOP SEARCH -->
			
          </ul>
		  
        </div>
		
        <!-- END NAVIGATION -->
      </div>
    </div>
    </div>
    <!-- Header END -->
	<!-- end -->

	
	<div class="container">
		<div>
    <h2>Forgot Password</h2>
</div>
     
<div th:if="${error != null}">
    <p class="text-danger">[[${error}]]</p>
</div>
<div th:if="${message != null}">
    <h4 class="alert alert-success">[[${message}]]</h4>
</div>
<div th:if="${a} == 1">
    <h4 class="alert alert-danger"> Bạn hoặc ai đó đã gửi mail quá 4 lần yêu cầu cấp lại mật khẩu. Tối đa có thể yêu cầu 4 lần/ ngày</h4>
</div>

         
<form th:action="@{/forgot_password}" method="post" style="max-width: 420px; margin: 0 auto;">
<div class="border border-success rounded p-3">
    <div>
        <p> Truy cập địa chỉ mail của bạn để cấp lại mật khẩu</p>
    </div>
    <div>
        <p>
            <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>
            <!-- <input type="email" name="username" class="form-control" placeholder="Nhập tên đăng nhập" required autofocus/> -->
        </p>         
        <p class="text-center">
            <input type="submit" value="Send" class="btn btn-primary" />
        </p>
    </div>
</div>
</form>
			
			
				
				
				
		
	</div>
	


	<!-- BEGIN PRE-FOOTER -->
	<div th:replace="header :: pre-footer"></div>
	<!-- END PRE-FOOTER -->

	<!-- BEGIN FOOTER -->

	<!-- END FOOTER -->

	<!-- BEGIN fast view of a product -->

	<!-- END fast view of a product -->

	<div th:replace="header :: script_kh"></div>
</body>
<!-- END BODY -->
</html>